<template>
  <div>
    <CompLogBook/>
  </div>
</template>

<script>
// @ is an alias to /src
import CompLogBook from '@/components/LogBook.vue'
export default {
  name: 'LogBook',
  components: {
    CompLogBook
  }
}
</script>