server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root {{repo_dir}}/web/app/dist;
        # auth_basic "User area";
        # auth_basic_user_file /etc/nginx/htpasswd;


        location /{
                # First attempt to serve request as file, then
                # as directory, then fall back to index.html as vue router act in history mode
                try_files $uri $uri/ /index.html;
        }

        location /api{
                proxy_pass http://127.0.0.1:8000;
                # auth_basic off;
                if ($request_method = 'OPTIONS') {
                        add_header 'Access-Control-Allow-Origin' '*';
                        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
                        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
                }
                if ($request_method = 'POST') {
                        add_header 'Access-Control-Allow-Origin' '*';
                        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
                        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
                }
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
}